* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/* System Fonts as used by GitHub */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    height: 100%;
}

textarea {
    resize: vertical;
}

.left-bar {
    width: 271px;
    background: #2d3644;
    height: 100%;
    float: left;
    padding: 20px;
    transition: all 0.1s ease-in;
    z-index: 500;
}

.minimized_bar {
    width: 90px;
    background: #2d3644;
    height: 100%;
    float: left;
    display: block;
    padding: 20px;
}

.minimized_bar .collapsee {
    float: none;
    margin-bottom: 10px;
    text-align: center;
}

.minimized_bar .logotype {
    background: url('../images/minimized_logo.png');
    width: 50px;
    height: 25px;
}

.minimized_bar .text-hidden {
    display: none;
}

.minimized_bar .news-label {
    position: absolute;
    margin-top: -35px !important;
    margin-left: 24px;
}

.logotype {
    background: url("../../../images/logo-new.png");
    width: 129px;
    height: 81px;
    margin: 20px auto;
}

.logotype a {
    width: 129px;
    height: 81px;
    display: block;
}

.navmenu {
    font-size: 13px;
}

.navmenu i {
    font-size: 18px;
    margin-right: 14px !important;
    width: 22px;
    height: 20px;
    text-align: center;
    margin-left: -2px;
}

.navmenu a {
    color: #fff;
}

.navmenu a:hover {
    color: #000;
}

.collapsee {
    color: #fff;
    cursor: pointer;
    float: right;
}

.header {
    background: #f5f5f5;
    height: 70px;
    margin-left: 270px;
}

.header_minimized {
    margin-left: 90px;
    background: #f5f5f5;
    height: 70px;
}

.h_user {
    float: right;
}

.main {
    padding: 20px;
    height: 100%;
    position: relative;
    margin-left: 270px;

}

.main_minimized {
    padding: 20px;
    height: 100%;
    position: relative;
    margin-left: 90px;

}

.clr {
    clear: both;
}

.sidebar {
    width: 270px;
    position: fixed;
    z-index: 1;
    height: 100%;
}

.sidebar_minimized {
    width: 90px;
    position: fixed;
    height: 100%;
}

.user_search {
    margin-bottom: 20px;
    margin-top: 20px;
}

.info_left {
    float: left;
}

.info-right {
    float: right;
}

.info-right i {
    font-size: 60px;
}

.huge {
    font-size: 40px;
    line-height: normal;
}

.panel-green {
    border: 1px solid #ccc;
}

.profile_button {
    background: none;
    border: none;
    height: 40px;
    margin-right: 20px;
    text-align: left;
    margin-top: 13px;
}

.profile_button:focus {
    outline: none;
}

.btn:focus {
    outline: none;
}

.head_panel {
    float: left;
}

.notify {
    float: left;
    font-size: 35px;
    margin-right: 20px;
    margin-top: 10px;
    color: #2e4a67;
}

.notify .badge {
    position: absolute;
    background: #5cb85c;
    margin-left: 25px;
}

.add_document {
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

.h_user_left {
    float: left;
    line-height: 70px;
    margin-left: 20px;
}

.time_date {
    color: #000 !important;
}

.time_date i {
    margin-right: 5px;
}

.time_date i:last-child {
    margin-left: 10px;
}

.footer {
    background: #f5f5f5;
    margin-left: 270px;
    padding: 20px;
}

.footer_title p {

    font-weight: bold;
    font-size: 23px;
    color: #333;
}

.footer b {
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}

.footer ul li {
    list-style: none;
    line-height: 25px;
}

.footer ul li a {
    color: #424242;
}

.footer_minimized {
    background: #f5f5f5;
    margin-left: 90px;
    padding: 20px;
}

.expand {
    font-size: 32px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.responsive-menu {
    display: none;
}

.hidden-logotype {
    display: none;
    background: url('../images/minimized_logo.png');
    width: 50px;
    height: 25px;
    margin: 0 auto;
}

.sidebar-expand {
    display: block;
    float: left;
    font-size: 32px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/***Checkbox style**/
.checkbox {
    padding-left: 5px;
    margin-left: 15px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 4px;
    padding-top: 4px;
    font-size: 11px;
    color: #555555;
}

.checkbox > [type="checkbox"][data-indeterminate] + label:after {
    font-family: FontAwesome, serif !important;
    content: '\f068' !important;
    left: 2px !important;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: FontAwesome, serif;
    content: '\f00c';
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

/***Checkbox style**/

/***Radio button style**/
.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled {
    cursor: not-allowed;
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="radio"].styled:checked + label:after {
    font-family: FontAwesome, serif;
    content: "\f00c";
}

input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

/***Radio button style**/

.notify-notifications {
    float: left;
    font-size: 35px;
    margin-right: 25px;
    margin-top: 10px;
    color: #2e4a67;
}

.notify-notifications .badge {
    position: absolute;
    background: #5cb85c;
    margin-left: 25px;
}

#loading {
    background: url(../images/preloader.gif);
    width: 296px;
    height: 296px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
}

#load {
    background: black url(../images/load.gif) no-repeat center center;
    position: fixed;
    display: block;
    opacity: 0.5;
    z-index: 1000001;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#count_invoice_auto_ocr {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: block;
    z-index: 1000001;
    color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.loading-spinner {
    margin: 2em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 1.1em solid rgba(255, 255, 255, 1);
    border-left-color: #00ff0a;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loading-spinner, .loading-spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-image {
    width: 296px;
    height: 296px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
}

#loading_field {
    background: url(../images/preloader.gif); /*Mihai 04/04/2017 add new style for id*/
    width: 296px;
    height: 296px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
}

.project_change {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
}

.uploadbtn {
    background: #2196F3;
    border: none;
    opacity: 1;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    margin-left: 20px;
}

.upload_name {
    bottom: 10px;
    left: 10px;
    overflow: hidden;
}

.dropzone {
    border: 2px dashed #ccc;
    width: 300px;
    height: 230px;
    margin-top: -30px;
    opacity: 0;
    background: #DF4A4A;
    position: absolute;
}

.tooltip.right .tooltip-inner {
    padding: 10px;
    color: #fff;
    box-shadow: 0 2px 24px 6px rgba(0, 0, 0, 0.28);
}

.float-label__wrapper {
    position: relative;
}

.float-label__wrapper label {
    position: absolute;
    left: 0;
    top: -25px;
    line-height: 1;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    background-color: #ffffff;
    padding: 5px;
    display: none;
    color: #b3b3b3;
    border: 1px solid #39a4ff;
    border-radius: 5px;

}

.float-label__wrapper label.float-label--required span {
    padding-right: 3px;
    color: #de4a4a;
}

.float-label--active label {
    color: #39a4ff;
}

.delete_specific_field {
    padding: 5px;
    background: #fff none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-left: 20px;
    margin-top: -32px;
    position: absolute;
    cursor: pointer;
}

.delete_specific_field:hover {
    color: #ea2e4b;
}

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.page-header {
    margin-top: -20px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-15 {
    margin-top: 15px;
}

.m-top-24 {
    margin-top: 24px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.view_d {
    background: #ebebeb;
}

.photo-thumb-hover {
    position: absolute;
    width: 200px;
    transition: all 0.3s ease;
}

.photo-thumb-hover:hover {
    background: url(../../../images/entity/searchentity.png) no-repeat center center rgba(0, 0, 0, 0.5);
}

.zoom-in {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.zoom-in > img {
    width: 84%;
}

.zoom-out {
    position: absolute;
    top: 9%;
    left: 0;
    cursor: pointer;
}

.zoom-out > img {
    width: 84%;
}

.zoom-reset {
    position: absolute;
    top: 18%;
    left: 0;
    cursor: pointer;
}

.zoom-reset img {
    width: 84%;
}

.save-coords {
    margin-top: 14px;
}

.approved {
    position: absolute;
    color: #5cb85c;
    border: 2px solid #5cb85c;
    font-size: 16px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    border-radius: 5px;
    font-weight: bold;
    cursor: move;
}

.disapproved {
    position: absolute;
    color: #D9534F;
    border: 2px solid #D9534F;
    font-size: 16px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    border-radius: 5px;
    font-weight: bold;
    cursor: move;
}

.closeMessage {
    position: relative;
    bottom: 18px;
    right: -15px;
    cursor: pointer;
}

/*.upl-i {*/
/*width: 151px;*/
/*margin: 0 auto;*/
/*}*/
.upl-i img {
    display: block;
    margin: 0 auto;
}

#loadingimg {
    background: url(../../../images/document/loadingimg.gif) no-repeat center;
    width: 100%;
    height: 212px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
}

/*Mihai 29/06/2017 Tooltip on disabled buttons*/
.tooltip-wrapper {
    display: -webkit-box;
}

.tooltip-wrapper .btn[disabled] {
    pointer-events: none;
}

.tooltip-wrapper.disabled {
    cursor: not-allowed;
}

.btn-cancel {
    color: #fff;
    background-color: #2d3644;
    border-color: #2d3644;
}

.btn-cancel:hover {
    color: #fff;
    background-color: #101215;
    border-color: #101215;
}

.need_to_fill {
    border-color: #a94442 !important;
}

.need_to_fill:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.need_to_fill::-webkit-input-placeholder {
    color: #a94442;
}

/*Mihai 30/06/2017 Add style to label of buttons*/
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-label {
    position: relative;
    left: -13px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-label-right {
    position: relative;
    right: -13px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-label-sm {
    position: relative;
    left: -11px;
    display: inline-block;
    padding: 4.56px 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-label-right-sm {
    position: relative;
    right: -11px;
    display: inline-block;
    padding: 4.56px 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-label-xs {
    position: relative;
    left: -6px;
    display: inline-block;
    padding: 1px 5px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-label-right-xs {
    position: relative;
    right: -6px;
    display: inline-block;
    padding: 1px 5px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.toggle-on {
    line-height: 1.35;
}

.toggle-off {
    line-height: 1.35;
}

/*Mihai 30/06/2017 Add style to label of buttons*/

.history_scroll1 {
    min-height: 350px;
    max-height: 350px;
    overflow: scroll;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

/* /Mihai 06/07/2017 added css class below for cookies*/
#cookiesWarning {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    color: #31708f;
}

#cookiesWarningActive {
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    color: #fff;
}

#cookiesWarningActive small {
    background: #FA5528;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 2px #233e5b;
}

#readMoreURL a {
    text-decoration: none;
    color: #337ab7;
}

#readMoreURL a:hover {
    text-decoration: none;
    color: #FA5528;
}

.nav-mouseover {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 60px;
    border-radius: 5px;
    top: 0;
    display: none;
    box-shadow: 0 2px 24px 6px rgba(0, 0, 0, 0.28);

}

.minimized_bar .navmenu li:hover .nav-mouseover {
    display: block;

}

.long {
    background: #fff;
    box-shadow: 0 2px 24px 6px rgba(0, 0, 0, 0.28);
    position: absolute;
    z-index: 500;
    padding: 10px;
    border-radius: 5px;
}

.empty {
    color: #CFCFCF;
}

.user-access-check .fa-check {
    color: green;
    text-align: center;
}

.user-access-check .fa-times {
    color: red
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance: textfield !important;
}

.tooltip-inner {
    word-break: break-all;
    max-width: 300px;
}

/*jGrowl notifications*/

.jGrowl {
    z-index: 2001;
    position: absolute;
}

body > .jGrowl {
    position: fixed;
}

.jGrowl.top-left {
    left: 20px;
    top: 20px;
}

.jGrowl.top-center {
    left: 50%;
    top: 20px;
    margin-left: -150px;
}

.jGrowl.top-right {
    right: 20px;
    top: 20px;
}

.jGrowl.center {
    top: 40%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -35px;
}

.jGrowl.center .jGrowl-notification,
.jGrowl.center .jGrowl-closer {
    margin-left: auto;
    margin-right: auto;
}

.jGrowl.bottom-left {
    left: 20px;
    bottom: 20px;
}

.jGrowl.bottom-center {
    left: 50%;
    bottom: 20px;
    margin-left: -150px;
}

.jGrowl.bottom-right {
    right: 20px;
    bottom: 20px;
}

@media print {
    .jGrowl {
        display: none;
    }
}

.jGrowl-notification {
    margin-bottom: 10px;
    width: 300px;
    text-align: left;
    display: none;
}

.jGrowl-notification .jGrowl-header {
    font-size: 15px;
    margin-bottom: 5px;
}

.jGrowl-notification .jGrowl-header:empty {
    margin: 0;
}

.jGrowl-notification .jGrowl-close {
    font-weight: 300;
    background: none;
    border: 0;
    font-size: 17px;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    float: right;
    color: inherit;
    outline: 0;
    margin-left: 10px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.jGrowl-notification .jGrowl-close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.jGrowl-closer {
    padding: 5px 0;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    background-color: #fff;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999999;
}

.alert-rounded + .jGrowl-closer {
    border-radius: 5px;
}

.bg-danger {
    color: #fff;
    background-color: #F44336;
}

/*jGrowl notifications*/

.label-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #fff;
    background: #5cb85c none;
    border: 1px solid #4cae4c;
}

/* Mihai 14/09/2017 add download arrow effect*/

.arrow-download-image {
    display: none;
    position: fixed;
    bottom: 0;
    left: 3%;
    width: 60px;
    height: 60px;
    background-image: url(../images/arrow_bottom.png);
    background-size: cover;
    animation: MoveUpDown 2s linear infinite;
    z-index: 999;
}

@keyframes MoveUpDown {
    0% {
        bottom: 5px;
    }
    50% {
        bottom: 100px;
    }
    100% {
        bottom: 5px;
    }
}

/* Mihai 14/09/2017 add download arrow effect end*/

.line-height-2_5 {
    line-height: 2.5 !important;
}

/* ------------------------------------------------------------------------------
*
*  # Thumbnails component
*
* ---------------------------------------------------------------------------- */
.thumbnail {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.thumbnail > a {
    display: block;
}

.thumbnail > img,
.thumbnail a > img {
    width: 100%;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #ddd;
}

.modal-dialog .thumbnail {
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.thumbnail.no-padding img,
.thumbnail.no-padding .thumb {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.thumbnail.no-padding .caption2 {
    padding: 20px;
}

.thumb {
    position: relative;
    display: block;
}

.thumb img:not(.media-preview) {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.thumb:not(.thumb-rounded) img {
    border-radius: 3px;
}

.caption2-overflow span {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    width: 100%;
    text-align: center;
}

.zoom-image i {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.thumb-slide {
    overflow: hidden;
}

.thumb-slide .caption2 {
    position: absolute;
    bottom: -100%;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.thumb-slide .caption2 span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -18px;
    width: 100%;
    text-align: center;
}

.thumb-slide:hover .caption2 {
    bottom: 0;
}

.disable-button {
    cursor: not-allowed !important;
    filter: alpha(opacity=65) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: .65 !important;
    pointer-events: auto;
}

/*Invoice style*/
.invoice-title {
    text-align: center;
    font-weight: bold;
}

.alert-other {
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

/*Invoice style*/

/*User team style*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    padding: 10px 19px 10px 0;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

@media (max-width: 767px) {
    .center-text {
        text-align: center;
    }
}

/*User team style*/

/*Remove comment style*/
.remove-comment {
    color: #d9534f;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

/*Remove comment style*/

/*Drag and drop style*/
#drag_drop_content {
    background: rgba(66, 66, 66, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    z-index: 10001;
    display: none;
}

#fileToAttachedDiv {
    border-top: 2px solid white;
}

.drag_drop_text {
    font-size: 20px;
    text-shadow: 3px 3px 4px black;
    color: white;
    z-index: -1;
    position: absolute;
    text-align: center;
    width: 100%;
}

/*Drag and drop style*/

/*Founded search query style*/
.founded-query {
    /*color: #0052CC;*/
    color: #ff0000;
}

.founded-query:hover {
    text-decoration: underline;
}

/*Founded search query style*/

.spinner {
    margin: 0 auto 0;
    width: 70px;
    height: 197px;
    line-height: 197px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #2D3644;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.close_modal {
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.close_modal:hover {
    background: #333;
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #333;

}

.modal-title {
    margin-top: 3px;
}

.other-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.delete_specific_fieldd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-lab {
    width: 84%;
}

.btn.outline {
    background: none;
}

.btn-primary.outline {
    border: 1px solid #acd8e8;
    color: #2D3644;
    -webkit-box-shadow: 0 2px 4px rgba(179, 226, 243, 0.45);
    box-shadow: 0 2px 4px rgba(179, 226, 243, 0.45);

}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #3378B4;
    border-color: #3174af;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #2D3644;
    color: #2D3644;
}

.btn-primary.outline:focus, .btn-primary.outline.focus {
    border-color: #3174af;
    background: none !important;
    color: #3174af;
    box-shadow: none;
}

.btn-primary.round {
    border-radius: 24px;
}

.panel-footer {
    background: none;
}

.panel {
    -webkit-box-shadow: 0 2px 4px rgba(179, 226, 243, 0.45);
    box-shadow: 0 2px 4px rgba(179, 226, 243, 0.45);
}

.panel-heading {
    background: none !important;
}

.navmenu > .nav > li > a:hover {
    background: none !important;
    border: 2px solid #337AB7;
    color: #fff;
}

.navmenu > .nav > li a {
    border: 2px solid transparent;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.pagination > .comp > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: default;
}

.pagination > .comp > a:focus,
.pagination > .comp > a:hover {
    z-index: 2;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}

/***Mass Import****/
.ajax-file-upload-filename {
    height: auto;
    margin: 0 5px 5px 0;
}

.ajax-file-upload-filesize {
    width: 50px;
    height: auto;
    margin: 0 5px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

.ajax-file-upload-progress {
    margin: 5px 10px 5px 0;
    position: relative;
    width: 250px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    display: inline-block;
    color: #FFFFFF;
}

.ajax-file-upload-bar {
    background-color: #0ba1b5;
    width: 0;
    height: 20px;
    border-radius: 3px;
    color: #FFFFFF;
}

.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}

.ajax-file-upload-red {
    -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
    -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
    box-shadow: inset 0 39px 0 -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: top;
    margin: 5px 10px 5px 0;
}

.ajax-file-upload-green {
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #5b8a3c;
    vertical-align: top;
    margin: 5px 10px 5px 0;
}

.ajax-file-upload {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer !important;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 90px;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #e8e8e8;
    color: #fff;
    background: #2f8ab9;
    border: none;
}

.ajax-file-upload:hover {
    background: #3396c9;
}

.ajax-upload-dragdrop {
    border: 2px dotted #A5A5C7;
    border-radius: 5px;
    color: #DADCE3;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    margin: 0 auto;
}

.state-hover {
    border: 2px solid #A5A5C7;
}

/***Mass Import****/

.box-out {

    position: fixed;
    top: 60px;
    right: -5px;
    margin: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    transition: .5s ease-out;
    z-index: 2000;
}

.box-in {
    margin: 0 -280px 0 0;
}

.menu-btn {
    position: absolute;
    right: -5px;
    width: 350px;
    cursor: pointer;
}

.custom-error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
}

.custom-error-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.alert.alert-styled-left {
    border-left-width: 44px;
    position: relative;
}

.alert.alert-styled-left[class*=bg-] {
    border-left-color: rgba(0, 0, 0, 0.15) !important;
}

.alert.alert-styled-right {
    border-right-width: 44px;
    position: relative;
}

.alert.alert-styled-right[class*=bg-] {
    border-right-color: rgba(0, 0, 0, 0.15) !important;
}

.alert[class*=alert-styled-]:after {
    content: '\f00c';
    font-family: FontAwesome, serif;
    color: #fff;
    width: 44px;
    left: -44px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.alert[class*=alert-styled-].alert-danger:after,
.alert[class*=alert-styled-][class*=bg-danger]:after {
    content: '\f05e';
}

.alert[class*=alert-styled-].alert-success:after,
.alert[class*=alert-styled-][class*=bg-success]:after {
    content: '\f00c';
}

.alert[class*=alert-styled-].alert-warning:after,
.alert[class*=alert-styled-][class*=bg-warning]:after {
    content: '\f071';
}

.alert[class*=alert-styled-].alert-info:after,
.alert[class*=alert-styled-][class*=bg-info]:after {
    content: '\f05a';
}

tr.news-tr-disable td:not(:last-child) {
    opacity: 0.4;
}

tr.news-tr-enable td:not(:last-child) {
    font-weight: 500;
}

/**********Forum style********/
.text-warning-forum, .text-warning-forum:hover, .text-warning-forum:focus {
    color: #f0ad4e !important;
}

.border-warning-forum {
    border-color: #f0ad4e;
}

.text-success-forum, .text-success-forum:hover, .text-success-forum:focus {
    color: #5cb85c !important;
}

.border-success-forum {
    border-color: #5cb85c;
}

.icon-object-forum {
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    border-style: solid;
    padding: 20px;
    display: inline-block;
}

.icon-object-forum > i {
    font-size: 32px;
    top: 0;
}

.vertical-line-forum {
    border-right: 1px solid #333;
    float: left;
    height: 26px;
}

.activity-avatar {
    float: left;
    display: block;
    height: 60px;
}

img.avatar {
    -webkit-border-radius: 35px;
    border-radius: 35px;
    max-width: 60px;
}

.activity-content {
    margin: 0 0 0 90px;
    position: relative;
}

.activity-inner {
    margin: 15px 0 0;
    overflow: hidden;
}

.activity-meta {
    margin: 15px 0 0;
}

.forum-theme-icon {
    opacity: 0.5;
    cursor: pointer;
    margin-right: 5px;
}

.like-dislike-count {
    opacity: 0.5;
    font-size: 11px;
    margin-right: 4px;
}

.activity-comments {
    overflow: hidden;
    position: relative;
    width: auto;
    margin: 0 0 0 90px;
}

.reply_content {
    margin: 15px 0 0 0;
}

/**********Forum style end********/

#error404 {
    text-align: center;
    font-size: 220px;
    -webkit-box-shadow: 0 6px 4px -4px black;
    -moz-box-shadow: 0 6px 4px -4px black;
    box-shadow: 0 6px 4px -4px black;
}

@media screen and (min-width: 200px) and (max-width: 570px) {
    #error404 {
        text-align: center;
        font-size: 120px !important;
        -webkit-box-shadow: 0 6px 4px -4px black;
        -moz-box-shadow: 0 6px 4px -4px black;
        box-shadow: 0 6px 4px -4px black;
    }
}

.diagonal-line {
    width: 131%;
    height: auto;
    border-bottom: 2px solid red;
    -webkit-transform: translateY(24px) translateX(10px) rotate(-42deg);
    position: absolute;
    top: -15px;
    left: -13.5px;
    z-index: 999999;
}

.fixed-button-emails {
    position: fixed;
    top: 10px;
    width: 100%;
    float: right;
}

/*screen-xs*/
@media (max-width: 768px) {
    .mb-20 {
        margin-bottom: 20px;
    }
}

/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {
    .mb-20 {
        margin-bottom: 20px;
    }
}

/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {
    .mb-20 {
        margin-bottom: 20px;
    }
}

/*Submenu style*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: -116%;
    width: 220px;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #000000;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*Submenu style*/

/*Auto ocr style*/
.gen-dev-console {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5MzkzOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #393939), color-stop(100%, #000000));*/
    /*background-image: -moz-linear-gradient(#393939, #000000);*/
    /*background-image: -webkit-linear-gradient(#393939, #000000);*/
    /*background-image: linear-gradient(#393939, #000000);*/
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #000000));
    background-image: -moz-linear-gradient(#000000, #000000);
    background-image: -webkit-linear-gradient(#000000, #000000);
    background-image: linear-gradient(#000000, #000000);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Source Code Pro', serif;
    margin: 15px auto;
    height: 400px;
    min-height: 160px;
    overflow-y: scroll;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    resize: vertical;
}

.console-green-text {
    color: #21c064;
}

.console-red-text {
    color: #c02121;
}

.console-yellow-text {
    color: #d3852a;
}

.console-white-text {
    color: #ffffff;
}

.console-separator-text {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/*Auto ocr style*/

.temp-name {
    color: #d43f3a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.temp-name q {
    quotes: '„' '“';
}

.swing-img {
    background: url('../../../images/swing.jpg') no-repeat center;
    height: 150px;
    margin-top: -4px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    z-index: -1;
    position: relative;
}

.swing-text {
    padding: 90px 40px 0;
    color: white;
    text-align: center;
}

#quality_check_scroll::-webkit-scrollbar {
    width: 10px;
}

#quality_check_scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#quality_check_scroll::-webkit-scrollbar-thumb {
    background: #888;
}

#quality_check_scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#invoice_scroll::-webkit-scrollbar {
    width: 10px;
}

#invoice_scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#invoice_scroll::-webkit-scrollbar-thumb {
    background: #888;
}

#invoice_scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gen-dev-console::-webkit-scrollbar {
    width: 10px;
}

.gen-dev-console::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.gen-dev-console::-webkit-scrollbar-thumb {
    background: #888;
}

.gen-dev-console::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.tracking-points {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}