/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {

    .delete_specific_field {
        left: 8%;
    }

    .form-lab {
        width: 86%;
    }
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {

    .delete_specific_field {
        left: 3%;
    }

    .form-lab {
        width: 83%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    .delete_specific_field {
        left: 0;
    }

    .form-lab {
        width: 95%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .form-lab {
        width: 90%;
    }
    .delete_specific_field {
        left: 10%;
    }

    .imagemedia {
        height: 400px;
    }

    .left-bar {
        width: 90px;
    }

    .sidebar {
        width: 90px;
    }

    .text-hidden {
        display: none;
    }

    .news-label {
        position: absolute;
        margin-top: -35px !important;
        margin-left: 24px;
    }

    .logotype {
        background: url('../images/minimized_logo.png');
        width: 50px;
        height: 25px;
    }

    .main {
        margin-left: 90px;
    }

    .header {
        margin-left: 90px;
    }

    .collapsee {
        display: none;
    }

    .footer {
        margin-left: 90px;
    }

    .sidebar-expand {
        display: none;
    }

    .header_responsive {
        display: none;
    }

    .notify {
        float: right;
        color: #fff;
    }

    .username_status {
        color: #fff;
        text-align: center;
        font-size: 16px;
    }

    .notify-notifications {
        float: left;
        font-size: 35px;
        margin-top: 7px;
        color: #2e4a67;
    }

    .notify {
        margin-top: 0;
    }

    .page-header {
        margin-top: 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    .form-lab {
        width: 83%;
    }

    .delete_specific_field {
        left: 10%;
    }

    .float-right {
        float: none;
    }

    .float-left {
        float: none;
    }

    .left-bar {
        width: 90px;
    }

    .text-hidden {
        display: none;
    }

    .news-label {
        position: absolute;
        margin-top: -30px;
        margin-left: 24px;
    }

    .logotype {
        background: url('../images/minimized_logo.png');
        width: 50px;
        height: 25px;
    }

    .main {
        margin-left: 90px;
    }

    .header {
        margin-left: 90px;
    }

    .collapsee {
        display: none;
    }

    .footer {
        margin-left: 90px;
    }

    .sidebar-expand {
        display: none;
    }

    .header_responsive {
        display: none;
    }

    .header_responsive {
        margin-top: 70px;
        display: none;
        position: absolute;
        z-index: 200;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        padding: 20px;
        height: auto;
    }

    .responsive-menu {
        display: block;
    }

    .h_user {
        display: none;
    }

    .header_responsive {
        position: absolute;
        padding: 20px;
        width: 87%;
        z-index: 500;
        margin-left: 0;
    }

    .time_date {
        color: #fff;
    }

    .notify {
        float: right;
        color: #fff;
    }

    .username_status {
        color: #fff;
        text-align: center;
        font-size: 16px;
    }

    .notify-notifications {
        float: left;
        font-size: 35px;
        margin-top: 7px;
        color: #2e4a67;
    }

    .notify {
        margin-top: 0;
    }

    .page-header {
        margin-top: 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    .minimized_bar .navmenu li:hover .nav-mouseover {
        display: none;
    }

    .delete_specific_field {
        left: 6%;
    }

    .float-right {
        float: none;
    }

    .float-left {
        float: none;
    }

    .left-bar {
        display: none;
        z-index: 500;
        position: absolute;
        margin-top: 18px;
        width: 100%;
    }

    .left-bar .text-hidden {
        display: inline;
    }

    .sidebar {
        display: none;
        z-index: 10;
        position: absolute;
        margin-top: 52px;
        width: 100%;
    }

    .text-hidden {
        display: inline;
    }

    .logotype {
        display: none;
    }

    .news-label {
        display: block;
        margin-left: 13px !important;
    }

    .main {
        margin-left: 0;
    }

    .header {
        margin-left: 0;
        background: #f5f5f5 url('../images/minimized_logo.png') no-repeat center;
    }

    .footer {
        margin-left: 0;
    }

    .header_responsive {
        display: none;
    }

    .header_responsive {
        margin-top: 70px;
        display: none;
        position: absolute;
        z-index: 200;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        padding: 20px;
        height: auto;
    }

    .responsive-menu {
        display: block;
    }

    .h_user {
        display: none;
    }

    .time_date {
        color: #fff;
    }

    .notify {
        float: right;
        color: #fff;
    }

    .username_status {
        color: #fff;
        text-align: center;
        font-size: 16px;
    }

    .notify-notifications {
        float: left;
        font-size: 35px;
        margin-top: 7px;
        color: #2e4a67;
    }

    .notify {
        margin-top: 0;
    }

    .page-header {
        margin-top: 15px;
    }

    .hidden-logotype {
        display: block;
    }

    .sidebar-expand {
        display: block;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) {
    .left-bar, .sidebar {
        display: block !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 769px) {
    .header_responsive {
        display: block !important;
    }

    .left-bar, .sidebar {
        display: block !important;
    }

    .date_time {
        display: none;
    }

    .sidebar-expand {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .maian_mnu ul {
        display: block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
    .popover {
        width: 200px;
    }

    .popover-title {
        padding: 4px 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .popover-content {
        padding: 4px 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .popover {
        width: 180px;
    }

    .popover-title {
        padding: 4px 10px;
        font-size: 14px;
        line-height: 16px;
    }

    .popover-content {
        padding: 4px 10px;
    }
}

@media (max-width: 480px) {
    .popover {
        width: 170px;
    }

    .popover-title {
        padding: 4px 6px;
        font-size: 14px;
        line-height: 14px;
    }

    .popover-content {
        padding: 4px 6px;
        font-size: 12px;
    }
}

.template_title {
    margin-top: -10px;
}