<div class="page-header">
    <h1>
        Policy and Privacy
        <small>Cookie Policy</small>
    </h1>
</div>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>1. What are Cookies?</h4>
    <p>
        <mark>Cookies</mark> are files or pieces of information that may be stored on your computer
        (or other internet enabled devices, such as a smartphone or tablet).
        A <mark>Cookie</mark> will usually contain the name of the website from which the <mark>Cookie</mark> has come from,
        the "lifetime" of the <mark>Cookie</mark> (i.e. how long it will remain on your device), and a value,
        which is usually a randomly generated unique number.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>2. What do we use Cookies for?</h4>
    <p>
        We use <mark>Cookies</mark> to make the site easier to use and to better tailor the CaptoriaDM to your interests and needs.
        <mark>Cookies</mark> may also be used to help speed up your future activities and experience on our Sites.
        We also use <mark>Cookies</mark> to compile anonymous, aggregated statistics that allow us to understand how people use our
        Sites and to help us improve their structure and content. We cannot identify you personally from this
        information.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>3. What Cookies Do We Use?</h4>
    <p>
        We use two types of <mark>Cookies</mark>: per session and fixes. The latter are temporary files that remain in the user's
        terminal until the end of the session or the closing of the application (the web browser).
        Fixed files remain on the user's terminal for a period in the <mark>Cookie's</mark> parameters or until
        they are deleted manually by the user.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>4. How are Cookies used by this site?</h4>
    <p>
        A visit to this site may place <mark>Cookies</mark> for the purposes of: Site Performance
        <mark>Cookies</mark> Visitor Analysis <mark>Cookies</mark> Registration <mark>Cookies</mark>
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>5. Cookies and personal data</h4>
    <p>
        Personal data are information that can be used to determine your identity.
        This includes information such as your name, your postal address or email address.
        We acquire personal data only if you voluntarily provide us with such details, for example if you register for
        personalised services or if you fill out contact forms. In this case your data will be acquired only to the
        extent necessary and solely for carrying out the intended purpose.
        If the necessity arises we will ask for your consent before saving your data.
        Forwarding data or any other data transfer will be done only if it is necessary for performing the
        intended purpose and only if you have consented to the forwarding of the data
        (e.g. in the case of an online application).
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>6. What to do if you don't want Cookies to be set or want them to be removed?</h4>
    <p>
        If you do not want to receive <mark>Cookies</mark>, you can change your browser settings on your computer or other device
        you're using to access our services. If you use CaptoriaDM without changing your browser settings,
        we'll assume that you're happy to receive all <mark>Cookies</mark> on the CaptoriaDM website.
        Most browsers also provide functionality that lets you review and erase <mark>Cookies</mark>,
        including CaptoriaDM <mark>Cookies</mark>. Please note that the CaptoriaDM site will not work properly without <mark>Cookies</mark>.
        To find out more about <mark>Cookies</mark>, including how to see what <mark>Cookies</mark> have been set and how to manage and delete
        them,
        visit
        <a href="https://www.wikipedia.org" target="_blank">
            www.wikipedia.org,
        </a>
        <a href="https://www.aboutcookies.org" target="_blank">
            or www.aboutcookies.org
        </a>

    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>7. Other helpful resources</h4>
    <p>
        To learn more about advertisers' use of <mark>Cookies</mark> the following links are helpful:
    </p>
    <ol style="padding: 0 0 0 12px">
        <li>
            <a href="http://www.youronlinechoices.eu/" target="_blank">
                European Interactive Digital Advertising Alliance (EU)
            </a>
        </li>
        <li>
            <a href="http://www.iab.net/" target="_blank">
                Internet Advertising Bureau (US)
            </a>
        </li>
        <li>
            <a href="https://www.iabeurope.eu/" target="_blank">
                Internet Advertising Bureau (EU)
            </a>
        </li>
    </ol>
    <p>
        Browser manufacturers provide help pages relating to <mark>Cookie</mark> management in their products. Please see below for
        more information.
    </p>
    <ol style="padding: 0 0 0 12px">
        <li>
            <a href="https://support.google.com/chrome/answer/95647?hl=en-GB" target="_blank">
                Google Chrome
            </a>
        </li>
        <li>
            <a href="https://support.microsoft.com/en-us/help/260971/description-of-cookies" target="_blank">
                Internet Explorer
            </a>
        </li>
        <li>
            <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
               target="_blank">
                Mozilla Firefox
            </a>
        </li>
        <li>
            <a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank">
                Safari (Desktop)
            </a>
        </li>
        <li>
            <a href="https://support.apple.com/en-us/HT201265" target="_blank">
                Safari (Mobile)
            </a>
        </li>
        <li>
            <a href="https://support.google.com/nexus/answer/54068?visit_id=1-636530786680886110-764957828&hl=en&rd=1"
               target="_blank">
                Android Browser
            </a>
        </li>
        <li>
            <a href="http://www.opera.com/help" target="_blank">
                Opera
            </a>
        </li>
        <li>
            <a href="http://www.opera.com/help/mobile/android" target="_blank">
                Opera Mobile
            </a>
        </li>
    </ol>
    <p>
        For other browsers, please consult the documentation that your browser manufacturer provides.
    </p>
</blockquote>