<div class="page-header">
    <h1>
        Politica și Confidențialitate
        <small>Politica Cookie-urilor</small>
    </h1>
</div>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>1. Ce sunt Cookie-urile?</h4>
    <p>
        <mark>Cookie-urile</mark> sunt fragmente de text plasate în computerul dumneavoastră de către site-urile pe care le vizitați.
        Această tehnologie de stocare automată a datelor este foarte răspandită și se foloseste pentru a colecta informații
        precum tipul de browser și sistemul de operare, pagina sursă, denumirea domeniului din care vizitatorul
        s-a conectat la site-ul <mark>CaptoriaDM</mark> etc, cu scopul de a întelege cum folosesc vizitatorii această pagină de web.
        <mark>Cookie-urile</mark> ne ajută să adaptăm conținutul website-ului în funcție de nevoile dumneavoastră.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>2. La ce sunt folosite Cookie-urile?</h4>
    <p>
        Aceste fișiere fac posibilă recunoașterea terminalului utilizatorului și prezentarea conținutului într-un mod relevant,
        adaptat preferințelor utilizatorului. <mark>Cookie-urile</mark> sunt utilizate în pregătirea unor statistici anonime agregate
        care ne ajută să înțelegem cum un utilizator beneficiază de paginile noastre web, permițîndu-ne îmbunătațirea
        structurii și continutului lor, excluzînd indentificarea personala a utilizatorului.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>3. Ce Cookie-uri folosim?</h4>
    <p>
        Folosim două tipuri de <mark>Cookie-uri</mark>: per sesiune și fixe. Cele din urma sunt fișiere temporare ce raman în terminalul
        utilizatorului pînă la terminarea sesiunii sau inchiderea aplicatiei (browser-ului web).Fișierele fixe rămîn pe
        terminalul utilizatorului pe o perioadă în parametrii <mark>Cookie-ului</mark> sau pana sunt șterse manual de utilizator.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>4. Cum sunt folosite Cookie-urile de către acest site?</h4>
    <p>
        O vizită pe acest site poate plasa <mark>Cookie-uri</mark> în scopuri de:
        <mark>Cookie-uri</mark> de performanta a site-ului
        <mark>Cookie-uri</mark> de analiza a vizitatorilor
        <mark>Cookie-uri</mark> de inregistrare
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>5. Conțin Cookie-urile date personale?</h4>
    <p>
        <mark>Cookie-urile</mark> în sine nu solicită informații cu caracter personal pentru a putea fi utilizate și, în cele mai multe cazuri,
        nu identifică personal utilizatorii de internet. Datele personale colectate prin utilizarea <mark>Cookie-urilor</mark>
        pot fi colectate doar pentru a facilita anumite funcționalităti pentru utilizator.
        Datele sunt criptate într-un mod care face imposibil accesul persoanelor neautorizate la ele.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>6. Stergerea Cookie-urilor.</h4>
    <p>
        În general, o aplicație folosită pentru accesarea paginilor web permite salvarea <mark>Cookie-urilor</mark> pe terminal
        în mod implicit. Aceste setari pot fi schimbate în așa fel încît administrarea automată a <mark>Cookie-urilor</mark>
        să fie blocată de browser-ul web sau utilizatorul să fie informat de fiecare dată cand
        <mark>Cookie-uri</mark> sunt trimise către terminalul său. Informații detaliate despre posibilitatile și modurile de
        administrare a <mark>Cookie-urilor</mark> pot fi gasite în zona de setări a aplicației (browser-ului web).
        Limitarea folosirii <mark>Cookie-urilor</mark> poate afecta anumite functionalități ale paginii web.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>7. De ce sunt Cookie-urile importante pentru Internet?</h4>
    <p>
        <mark>Cookie-urile</mark> reprezintă punctul central al funcționării eficiente a Internetului, ajutînd la generarea unei
        experiente de navigare prietenoase și adaptată preferințelor și intereselor fiecărui utilizator.
        Refuzarea sau dezactivarea <mark>Cookie-urilor</mark> poate face unele site-uri imposibil de folosit.
        Exemple de întrebuințări importante ale <mark>Cookie-urilor</mark> (care nu necesită autentificarea unui utilizator prin intermediul unui cont):
        Conținut și servicii adaptate preferintelor utilizatorului – categorii de produse și servicii.
        Oferte adaptate pe interesele utilizatorilor – reținerea parolelor.
        Reținerea filtrelor de protecție a copiilor privind conținutul pe Internet (opțiuni family mode,functii de safe search).
        Măsurarea, optimizarea și caracteristicile de analytics – cum ar fi confirmarea unui anumit nivel de trafic pe un website,
        ce tip de conținut este vizualizat și modul cum un utilizator ajunge pe un website (ex prin motoare de cautare,
        direct, din alte website-uri etc). Website-urile derulează aceste analize a utilizării lor pentru a îmbunătăți
        site-urile în beneficiul utilizatorilor.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>8. Securitate și probleme legate de confidențialitate.</h4>
    <p>
        <mark>Cookie-urile</mark> NU sunt viruși! Ele folosesc formate tip plain text. Nu sunt alcatuite din bucăți de cod așa deci
        nu pot fi executate nici nu pot auto-rula. În consecință, nu se pot duplica sau replica pe alte retele pentru
        a se rula sau replica din nou. Astfel neîndeplinind aceste funcții <mark>Cookie-urile</mark> nu pot fi considerate viruși!
        <mark>Cookie-urile</mark> pot fi totuși folosite pentru scopuri negative. Deoarece stochează informatii despre preferintele
        si istoricul de navigare al utilizatorilor, atat pe un anumit site cat si pe mai multe alte siteuri,
        <mark>Cookie-urile</mark> pot fi folosite ca o forma de Spyware. Multe produse anti-spyware sunt constiente de acest fapt
        si in mod constant marcheaza <mark>Cookie-urile</mark> pentru a fi sterse in cadrul procedurilor de stergere/scanare anti-virus/anti-spyware.
        In general browserele au integrate setari de confidentialitate care furnizeaza diferite nivele de acceptare a <mark>Cookie-urilor</mark>,
        perioada de valabilitate si stergere automata dupa ce utilizatorul a vizitat un anumit site.
        Alte aspecte de securitate legate de <mark>Cookie-uri</mark>:
        Deoarece protectia identitatii este foarte valoroasa si reprezinta dreptul fiecarui utilizator de internet,
        este indicat sa se stie ce eventuale probleme pot crea <mark>Cookie-urile</mark>. Pentru ca prin intermediul lor se transmit
        in mod constant in ambele sensuri informatii intre browser si website, daca un atacator sau persoana neautorizata
        intervine in parcursul de transmitere a datelor, informatiile continute de <mark>Cookie-uri</mark> pot fi interceptate.
        Desi foarte rar, acest lucru se poate intampla daca browserul se conecteaza la server folosind o retea
        necriptata (ex: o retea WiFi nesecurizata). Alte atacuri bazate pe <mark>Cookie-uri</mark> implica setari gresite ale <mark>Cookie-urilor</mark> pe servere.
        Daca un website nu solicita browserului sa foloseasca doar canale criptate, atacatorii pot folosi aceasta
        vulnerabilitate pentru a pacali browserele in a trimite informatii prin intermediul canalelor nesecurizate.
        Atacatorii utilizeaza apoi informatiile in scopuri de a accesa neautorizat anumite site-uri. Este foarte important
        sa fiti atenti in alegerea metodei celei mai potrivite de protectie a informatiilor personale.
        Sfaturi pentru o navigare sigura si responsabila, bazata pe <mark>Cookie-uri</mark>.
        Datorita flexibilitatii lor si a faptului ca majoritatea dintre cele mai vizitate site-uri si cele mai mari
        folosesc <mark>Cookieuri</mark>, acestea sunt aproape inevitabile. Dezactivarea <mark>Cookie-urilor</mark> nu va permite accesul
        utilizatorului pe site-urile cele mai raspandite si utilizate printre care Youtube, Gmail, Yahoo si altele.
        Iata cateva sfaturi care va pot asigura sa navigati fara griji insa cu ajutorul <mark>Cookie-urilor</mark>:
    </p>

    <ol style="padding: 0 0 0 12px">
        <li>
            Particularizati-va setarile browserului in ceea ce priveste <mark>Cookie-urile</mark> pentru a reflecta un nivel
            confortabil pentru voi al securitatii utilizarii <mark>Cookie-urilor</mark>.
        </li>
        <li>
            Daca nu va deranjeaza <mark>Cookie-urile</mark> si sunteti singura persoana care utilizaeaza computerul, puteti seta
            termene lungi de expirare pentru stocarea istoricului de navigare si al datelor personale de acces.
            Daca impartiti accesul la calculator, puteti lua in considerare setarea browserului pentru a sterge
            datele individuale de navigare de fiecare data cand inchideti browserul.
            Aceasta este o varianta de a accesa site-urile care plaseaza <mark>Cookie-uri</mark> si de a sterge orice
            informatie de vizitare la inchiderea sesiunii navigare.
        </li>
        <li>
            Instalati-va și actualizați-vă constant aplicatii antispyware.
        </li>
    </ol>

    <p>
        Multe dintre aplicatiile de detectare si prevenire a spyware-ului includ detectarea atacurilor pe site-uri.
        Astfel, impiedica browserul de la a accesa website-uri care ar putea sa exploateze vulnerabilitatile browserului
        sau sa descarce software periculos. Asigurati-va ca aveti browserul mereu actualizat.
        Multe dintre atacurile bazate pe <mark>Cookie-uri</mark> se realizeaza exploatand punctele slabe ale versiunilor vechi ale browserelor.
        <mark>Cookie-urile</mark> sunt pretutindeni si nu pot fi evitate daca doriti sa va bucurati de acces pe cele mai bune si cele mai mari
        site-uri de pe Internet – locale sau internationale. Cu o intelegere clara a modului lor de operare si a
        beneficiilor pe care le aduc, puteti lua masurile necesare de securitate astel incat sa puteti naviga cu incredere pe internet.
        Dezactivarea si refuzul de a primi <mark>Cookie-uri</mark> pot face anumite site-uri impracticabile sau dificil de vizitat si folosit.
        De asemenea, refuzul de a accepta <mark>Cookie-uri</mark> nu inseamna ca nu veti mai primi/vedea publicitate online.
        Este posibila setarea din browser pentru ca aceste <mark>Cookie-uri</mark> sa nu mai fie acceptate sau poti seta browserul
        sa accepte <mark>Cookie-uri</mark> de la un site anume. Dar, de exemplu, daca nu esti inregistat folosind <mark>Cookie-urile</mark>,
        nu vei putea lasa comentarii.
        Toate browserele moderne ofera posibilitatea de a schimba setarile <mark>Cookie-urilor</mark>.
        Aceste setari se gasesc de regula in “optiuni” sau in meniul de “preferinte” al browserului tau.
        Pentru a intelege aceste setari, urmatoarele linkuri pot fi folositoare, altfel puteti folosi optiunea “ajutor”
        a browserului pentru mai multe detalii.
    </p>

    <ol style="padding: 0 0 0 12px">
        <li>
            <a href="https://support.microsoft.com/en-us/help/196955" target="_blank">
                Setarea Cookie-urilor
            </a> in Internet Explorer
        </li>
        <li>
            <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies" target="_blank">
                Setarea Cookie-urilor
            </a> in Firefox
        </li>
        <li>
            <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">
                Setarea Cookie-urilor
            </a> in Chrome
        </li>
        <li>
            <a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank">
                Setarea Cookie-urilor
            </a> in Safari
        </li>
    </ol>
</blockquote>