<div class="page-header">
    <h1>
        Политика и конфиденциальность
        <small>Политика в отношении файлов Cookie</small>
    </h1>
</div>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>1. Кратко о Cookies</h4>
    <p>
        Данная политика в отношении файлов <mark>Cookie</mark> применяется к любому веб-сайту, странице компании на интернет-платформах,
        а также процедуре получения доступа через сайты или платформы. При использовании сайтa CaptoriaDM,
        вы даете нам согласие на использование файлов <mark>Cookie</mark> в соответствии с настоящей политикой в отношении данного типа файлов. 
        <br>
        Если вы не согласны с тем, чтобы мы использовали данный тип файлов, то вы должны соответствующим образом
        установить настройки вашего браузера или не использовать сайт CaptoriaDM. Если вы отключите поддержку
        файлов <mark>Cookie</mark>, которые мы используем, это может повлиять на ваш пользовательский опыт на сайтe.
        В таблице ниже представлены различные виды файлов <mark>Cookie</mark>, которые используются на сайтe CaptoriaDM.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>2. Что такое файлы Cookie?</h4>
    <p>
        <mark>Cookies</mark> представляют собой файлы или фрагменты информации, которые могут быть сохранены на вашем компьютере
        (или других Интернет-совместимых устройствах, таких как смартфон или планшет), когда вы посещаете сайт компании
        Unilever. Данный тип файла обычно содержит имя сайта, с которого он был получен, «время жизни» файла (например,
        как долго он будет оставаться на устройстве), и значение, которое, представляет собой, как правило,
        случайно сгенерированный уникальный номер.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>3. Как мы используем Cookie?</h4>
    <p>
        Мы используем их, чтобы CaptoriaDM сталo проще в использовании, мы стремимся адаптировать с их помощью нашу
        продукцию в соответствии с вашими интересами и потребностями. <mark>Cookie</mark> также могут быть использованы для
        ускорения вашей будущей работы на наших сайтах. Мы также используем <mark>Cookie</mark> для компиляции анонимной
        информации - сводных статистических данных, которые позволяют нам понять, как люди используют наши сайты,
        чтобы помочь нам улучшить их структуру и содержание. Мы не можем идентифицировать вас лично на основании этой информации.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>4. Как я могу контролировать или удалить Cookie?</h4>
    <p>
        Большинство интернет-браузеров изначально настроены автоматически принимать <mark>Cookie</mark>.
        Вы можете изменить настройки таким образом, чтобы блокировать <mark>Cookie</mark> или предупреждать пользователя,
        когда файлы данного типа будут отправлены на устройство. Есть несколько способов управления <mark>Cookie</mark>. 
        <br>
        Пожалуйста, обратитесь к инструкции браузера для того, чтобы узнать больше о том, как скорректировать
        или изменить настройки браузера. Если отключить <mark>Cookie</mark>, которые мы используем, то это может повлиять
        на вашу работу в Интернете, в то время как на сайтe CaptoriaDM вы не сможете посетить некоторые
        части этих веб-ресурсов, или вы не сможете получать персональную информацию, когда вы посещаете сайт CaptoriaDM. 
        <br>
        Если вы используете различные устройства для просмотра и доступа к CaptoriaDM
        (например, компьютер, смартфон, планшет и т.д.), вы должны убедиться, что каждый браузер на каждом
        устройстве настроен в соответствии с вашей точкой зрения на работу с файлами <mark>Cookie</mark>.
    </p>
</blockquote>