<div class="page-header">
    <h1>
        Πολιτική και ιδιωτικότητα
        <small>Πολιτική cookie</small>
    </h1>
</div>


<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>1. Τι είναι τα cookies?</h4>
    <p>
        Τα <mark>Cookies</mark> είναι μικρά αρχεία που τοποθετούν οι τοποθεσίες web στον υπολογιστή σας, ώστε να αποθηκεύουν
        πληροφορίες σχετικά με τις προτιμήσεις σας. Τα <mark>Cookies</mark> μπορούν να βελτιώσουν την εμπειρία περιήγησης επιτρέποντας
        στις τοποθεσίες να απομνημονεύουν τις προτιμήσεις σας ή δίνοντάς σας τη δυνατότητα να αποφεύγετε την
        είσοδο κάθε φορά που επισκέπτεστε συγκεκριμένες τοποθεσίες.
    </p>
</blockquote>

<blockquote style="font-size: 12px;margin: 0 0 10px;">
    <h4>2. Αποκλεισμός ή αποδοχή cookies </h4>
    <p>
        Αν δεν θέλετε τα μέρη να αποθηκεύουν <mark>Cookies</mark> στον υπολογιστή σας, μπορείτε να τα αποκλείσετε. Ωστόσο,
        το κλείδωμα των <mark>Cookies</mark> μπορεί να αποτρέψει τη σωστή εμφάνιση των σελίδων ή μπορεί να λάβετε ένα μήνυμα
        από έναν ιστότοπο που σας λέει ότι πρέπει να δεχτείτε τα <mark>Cookies</mark> για να το δείτε σωστά.
        Το μπλοκάρισμα των <mark>Cookies</mark> μπορεί να εμποδίσει την εμφάνιση των σελίδων σωστά ή ενδέχεται να λάβει ένα
        μήνυμα από έναν ιστότοπο λέγοντάς σας ότι πρέπει να δεχτείτε τα <mark>Cookies</mark> για να τα δείτε σωστά.
    </p>
</blockquote>